In [1]:
#11.1 
import zoo
zoo.hours()

Open 9-5 daily

In [2]:
# 11.2
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [ ]:
# 16.4
import sqlite3
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

cursor.execute('''CREATE TABLE books (title TEXT, author TEXT, year INTEGER)''')
cursor.execute('''INSERT INTO books VALUES("ABook", "A Author", 1994)''')
cursor.execute('''INSERT INTO books VALUES("BBook", "B Author", 1995)''')

# Could not install sqlalchemy for the assignment

"SELECT title FROM books; this would get all titles from the sqlite3 database"